
@page "/"
@inject ServicioSingleton singleton
@inject IRepositorio repositorio

    <div>
        <h3>Pelicula</h3>
        <ListadoPeliculas Peliculas="Peliculas">

        </ListadoPeliculas>


    </div>
    <button @onclick="AgregarPelicula">Agregar Pelicula</button>
    <div>
        <h2>Registrar Pelicula</h2>
        <EjemploTextbox placeholder="Nombre Pelicula" />
    </div>

@code
{
        void AgregarPelicula()
        {
            Peliculas.Add(new Pelicula() { Titulo = "Nueva Pelicula", Lanzamiento = DateTime.Today });
        }

        public List<Pelicula> Peliculas;

        protected override void OnInitialized()
        {

            Peliculas = repositorio.ObtenerPeliculas();

        }
}




